.container-header {
  background-color: rgb(226, 198, 213);
  height: 100px;
  display: flex;
  align-items: center;
}

.container-nav {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.container-footer {
  background-color: rgb(226, 198, 213);
  height: 100px;
}

.container-social-media-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.icon {
  height: 60px;
  margin: 15px;
  opacity: 80%;
}
 
 @media(max-width: 767px) {
   .container-nav {
     display: flex;
     flex-direction: column;
   }

   .container-header {
    height: auto;
   }
  }